head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/site.css')
  include scripts
  style(type='text/css')
    body { padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; }
