doctype html
html
  head
    include inc/header
    block header

  body
  .navbar.navbar-default.navbar-static-top(role='navigation')
        .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='/') Open Source Sweeps
              .navbar-collapse.collapse
                ul.nav.navbar-nav
                  li(class="#{navKey === 'home' ? 'active' : ''}")
                    a(href='/') Home
                  li(class="#{navKey === 'enter' ? 'active' : ''}")
                    a(href='enter') Enter to Win
                  li(class="#{navKey === 'faq' ? 'active' : ''}")
                    a(href='faq') FAQ
                ul.nav.navbar-nav.pull-right
                  li(class="#{navKey === 'donate' ? 'active' : ''}")
                    a(href='donate') Donate

  .container.clear-top
    block content

  include inc/footer
